:root {
    --rss-speed: 150s;
    --rss-font-size: 24px;
    --rss-width: 400px;
    --rss-height: 100px;
    --rss-background-color: #4a0404;
    --rss-text-color: #d31919;
}

@keyframes scrollText {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.app.rss-scroll .window-content .rss-scroll-content {
    font-family: "Orbitron", sans-serif;
    white-space: nowrap;
    font-size: var(--rss-font-size);
    color: var(--rss-text-color);
    background-color: var(--rss-background-color);
    animation: scrollText var(--rss-speed) linear infinite;
    width: fit-content;
}

.app.rss-scroll .window-content .rss-scroll-content:hover {
    animation-play-state: paused !important;
}