#rss-scroll {
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 33%;
    height: 3%;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1000;
    cursor: grab;
}

@keyframes scrollText {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* omg omg omg, this is what handles the targeting to move the stuff along */
.app.rss-scroll .window-content .rss-scroll-content {
    /* display: inline-block; */
    font-family: "Orbitron", sans-serif;
    font: "Orbitron";
    white-space: nowrap;
    animation: scrollText 150s linear infinite;
    /* background-color: magenta; */
    width: fit-content;
    /* color: magenta; */
}

.app.rss-scroll .window-content .rss-scroll-content:hover {
    animation-play-state: paused !important;
}